[submodule "csharp-maze-game"]
	path = csharp-maze-game
	url = https://github.com/Language-learning-projects/csharp-maze-game.git
[submodule "haskell-encrypted-messaging"]
	path = haskell-encrypted-messaging
	url = https://github.com/Language-learning-projects/haskell-encrypted-messaging.git
[submodule "java-document-classification"]
	path = java-document-classification
	url = https://github.com/Language-learning-projects/java-document-classification.git
[submodule "ruby-sorting-orders"]
	path = ruby-sorting-orders
	url = https://github.com/Language-learning-projects/ruby-sorting-orders.git
[submodule "rust-sentence-generator"]
	path = rust-sentence-generator
	url = https://github.com/Language-learning-projects/rust-sentence-generator.git
[submodule "go-face-detection"]
	path = go-face-detection
	url = https://github.com/Language-learning-projects/go-face-detection.git
[submodule "python-adventure-game"]
	path = python-adventure-game
	url = https://github.com/Language-learning-projects/python-adventure-game.git
[submodule "cplusplus-file-organizer"]
	path = cplusplus-file-organizer
	url = https://github.com/Language-learning-projects/cplusplus-file-organizer.git
[submodule "javascript-quiz-app"]
	path = javascript-quiz-app
	url = https://github.com/Language-learning-projects/javascript-quiz-app.git
